@model IEnumerable<Assortie.Models.Sortie>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card mr-2 mt-1" style="width: 23rem;" >
            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Photo)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.ActionLink(item.Nom, "Details", new { id = item.IdSortie })</h5>
                <span class="badge badge-secondary">Association : @Html.DisplayFor(modelItem => item.Association.Nom)</span>
                <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.Prix) €</span>
                @*<span class="badge badge-info">Evènement le : @if (item.Date != null) {@item.Date.ToString("dd/MM/yyyy")}</span>*@
                <span class="badge badge-light"><i class="fa fa-user"></i> @Html.DisplayFor(modelItem => item.CapaciteActuelle)</span>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        </div>
    }
</div>
