@model Assortie.Models.Adherent

@{
    ViewBag.Title = "Connexion";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <form action="" autocomplete="off">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mt-2">Connexion</h4>
                        </div>
                        <div class="card-body">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @ViewBag.Erreur

                            <div class="form-group">
                                @Html.Label("Identifiant", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Mot de passe", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "**********" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Connexion" class="btn btn-primary" />
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}