@model IEnumerable<Assortie.Models.Association>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontantCotisation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontantCotisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAssociation }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAssociation }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAssociation })
        </td>
    </tr>
}

</table>
